---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Breslov Yeshiva">
	<div class="bg-gray-900">
		<!-- Header -->
		<header class="absolute inset-x-0 top-0 z-50">
			<nav
				class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
				aria-label="Global">
				<div class="flex lg:flex-1">
					<a href="/" class="-m-1.5 p-1.5">
						<span class="sr-only">The Breslov Yeshiva Logo</span>
						<img class="h-16 w-auto" src="logo-white.png" alt />
					</a>
				</div>
				<div class="flex lg:flex-1 lg:justify-end">
					<a
						href="donate"
						class="text-sm font-semibold leading-6 text-white py-1.5 px-3.5 rounded-xl bg-white/20 hover:bg-white/30"
						>Donate</a
					>
					<a
						href="#register"
						class="ml-4 text-sm font-semibold leading-6 text-white py-1.5 px-3.5 rounded-xl bg-white/20 hover:bg-white/30"
						>Register Now <span aria-hidden="true">&rarr;</span></a
					>
				</div>
			</nav>
		</header>

		<main class="relative isolate">
			<!-- Background -->
			<div
				class="absolute inset-x-0 top-4 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
				aria-hidden="true">
				<div
					class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25"
					style="
              clip-path: polygon(
                73.6% 51.7%,
                91.7% 11.8%,
                100% 46.4%,
                97.4% 82.2%,
                92.5% 84.9%,
                75.7% 64%,
                55.3% 47.5%,
                46.5% 49.4%,
                45% 62.9%,
                50.3% 87.2%,
                21.3% 64.1%,
                0.1% 100%,
                5.4% 51.1%,
                21.4% 63.9%,
                58.9% 0.2%,
                73.6% 51.7%
              );
            "
				></div>
			</div>

			<!-- Header section -->

			<div class="px-6 pt-14 lg:px-8">
				<div class="mx-auto max-w-4xl pt-24 text-center sm:pt-40">
					<h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl"
						>An English-Speaking Yeshiva Dedicated to Healthy, Balanced Growth
						in Torah & Avodas Hashem</h2
					>
				</div>
			</div>

			<!-- Image section -->
			<div
				class="mt-16 xl:mx-auto xl:max-w-7xl xl:px-8 grid grid-cols-2 gap-4 md:gap-8 px-2">
				<img
					src="baalei-teshuva-opt.jpg"
					alt
					class="object-cover rounded lg:rounded-3xl"
				/>
				<img
					src="living-bachur-opt.jpg"
					alt
					class="object-cover rounded lg:rounded-3xl"
				/>
			</div>

			<!-- Content section -->
			<div class="mx-auto mt-20 max-w-6xl px-6 lg:px-8">
				<div class="mx-auto max-w-4xl lg:mx-0 lg:max-w-none">
					<div
						class="grid max-w-xl grid-cols-1 gap-8 text-xl font-light tracking-wide text-gray-200 lg:max-w-none">
						<div>
							<p
								>Throughout the world, there are countless bachurim who are
								connecting to the teachings of Rebbe Nachman and finding new
								inspiration in avodas Hashem. These amazing neshamos yearn to
								grow in Torah, Tefillah, and Emunah. They want to live a life of
								fulfillment and happiness – with the strength to overcome the
								tests of this world.
							</p>
							<p class="mt-8"
								>The purpose of our yeshiva is to provide a home for these
								bachurim. In this home, bachurim can deepen their knowledge of
								Mishnah, Gemara, and Halachah. We have a dedicated and
								supportive staff and a tailor-made curriculum to help bachurim
								acquire Smichah, Shas, and a true connection to the Torah.
							</p>
							<p class="mt-8"
								>In addition, we have a garden where bachurim can discover
								insight and understanding in Likutei Mohoran and the ways of
								chassidus, and receive the amazing spiritual inheritance of
								Rebbe Nachman, as it has been passed down from generation to
								generation.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Features section -->
			<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
				<div class="mx-auto max-w-4xl lg:mx-0">
					<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
						>Our Yeshiva Features</h2
					>
					<p class="mt-6 text-lg leading-8 text-gray-300"
						>Our Yeshiva offers a unique set of benefits that hasn’t been
						available in any Yeshiva to date.</p
					>
				</div>
				<dl
					class="mx-auto mt-16 grid max-w-4xl grid-cols-1 gap-8 text-base leading-7 text-lg text-gray-400 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:gap-x-16">
					<div class="relative pl-9">
						<dt class="inline font-semibold text-white">
							<svg
								class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true">
								<path
									fill-rule="evenodd"
									d="M4.606 12.97a.75.75 0 01-.134 1.051 2.494 2.494 0 00-.93 2.437 2.494 2.494 0 002.437-.93.75.75 0 111.186.918 3.995 3.995 0 01-4.482 1.332.75.75 0 01-.461-.461 3.994 3.994 0 011.332-4.482.75.75 0 011.052.134z"
									clip-rule="evenodd"></path>
								<path
									fill-rule="evenodd"
									d="M5.752 12A13.07 13.07 0 008 14.248v4.002c0 .414.336.75.75.75a5 5 0 004.797-6.414 12.984 12.984 0 005.45-10.848.75.75 0 00-.735-.735 12.984 12.984 0 00-10.849 5.45A5 5 0 001 11.25c.001.414.337.75.751.75h4.002zM13 9a2 2 0 100-4 2 2 0 000 4z"
									clip-rule="evenodd"></path>
							</svg>
							Solid Foundation in Gemara & Halacha.
						</dt>
						<dd class="inline font-light"
							>Rebbe Nachman wanted his students to be both Lamdanim
							<span class="italic">and</span> Tzaddikim.
						</dd>
					</div>
					<div class="relative pl-9">
						<dt class="inline font-semibold text-white">
							<svg
								class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true">
								<path
									fill-rule="evenodd"
									d="M11 2a1 1 0 10-2 0v6.5a.5.5 0 01-1 0V3a1 1 0 10-2 0v5.5a.5.5 0 01-1 0V5a1 1 0 10-2 0v7a7 7 0 1014 0V8a1 1 0 10-2 0v3.5a.5.5 0 01-1 0V3a1 1 0 10-2 0v5.5a.5.5 0 01-1 0V2z"
									clip-rule="evenodd"></path>
							</svg>
							An Emphasis on Tefillah, Emunah & Simcha.
						</dt>
						<dd class="inline font-light"
							>The Yeshiva schedule and environment has been carefully
							cultivated to foster these critical middos.</dd
						>
					</div>
					<div class="relative pl-9">
						<dt class="inline font-semibold text-white">
							<svg
								class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true">
								<path
									d="M10 9a3 3 0 100-6 3 3 0 000 6zM6 8a2 2 0 11-4 0 2 2 0 014 0zM1.49 15.326a.78.78 0 01-.358-.442 3 3 0 014.308-3.516 6.484 6.484 0 00-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 01-2.07-.655zM16.44 15.98a4.97 4.97 0 002.07-.654.78.78 0 00.357-.442 3 3 0 00-4.308-3.517 6.484 6.484 0 011.907 3.96 2.32 2.32 0 01-.026.654zM18 8a2 2 0 11-4 0 2 2 0 014 0zM5.304 16.19a.844.844 0 01-.277-.71 5 5 0 019.947 0 .843.843 0 01-.277.71A6.975 6.975 0 0110 18a6.974 6.974 0 01-4.696-1.81z"
								></path>
							</svg>
							Daily Shiurim on Penimiyus HaTorah.
						</dt>
						<dd class="inline font-light"
							>Build the necessary skills and knowledge base to develop yourself
							through in-depth, intensive learning of authentic Chassidus.
						</dd>
					</div>
					<div class="relative pl-9">
						<dt class="inline font-semibold text-white">
							<svg
								class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true">
								<path
									fill-rule="evenodd"
									d="M9.664 1.319a.75.75 0 01.672 0 41.059 41.059 0 018.198 5.424.75.75 0 01-.254 1.285 31.372 31.372 0 00-7.86 3.83.75.75 0 01-.84 0 31.508 31.508 0 00-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 013.305-2.033.75.75 0 00-.714-1.319 37 37 0 00-3.446 2.12A2.216 2.216 0 006 9.393v.38a31.293 31.293 0 00-4.28-1.746.75.75 0 01-.254-1.285 41.059 41.059 0 018.198-5.424zM6 11.459a29.848 29.848 0 00-2.455-1.158 41.029 41.029 0 00-.39 3.114.75.75 0 00.419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 101.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 013.095 2.348.75.75 0 00.992 0 26.547 26.547 0 015.93-3.95.75.75 0 00.42-.739 41.053 41.053 0 00-.39-3.114 29.925 29.925 0 00-5.199 2.801 2.25 2.25 0 01-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 01-1.084 3.45 26.503 26.503 0 00-1.281-.78A5.487 5.487 0 006 12v-.54z"
									clip-rule="evenodd"></path>
							</svg>
							Dedicated & Supportive Staff.
						</dt>
						<dd class="inline font-light"
							>Experienced and motivated Rebbeim equipped with advanced learning
							capabilities balanced with real simchas chayim.</dd
						>
					</div>
					<div class="relative pl-9">
						<dt class="inline font-semibold text-white">
							<svg
								class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true">
								<path
									d="M15.98 1.804a1 1 0 00-1.96 0l-.24 1.192a1 1 0 01-.784.785l-1.192.238a1 1 0 000 1.962l1.192.238a1 1 0 01.785.785l.238 1.192a1 1 0 001.962 0l.238-1.192a1 1 0 01.785-.785l1.192-.238a1 1 0 000-1.962l-1.192-.238a1 1 0 01-.785-.785l-.238-1.192zM6.949 5.684a1 1 0 00-1.898 0l-.683 2.051a1 1 0 01-.633.633l-2.051.683a1 1 0 000 1.898l2.051.684a1 1 0 01.633.632l.683 2.051a1 1 0 001.898 0l.683-2.051a1 1 0 01.633-.633l2.051-.683a1 1 0 000-1.898l-2.051-.683a1 1 0 01-.633-.633L6.95 5.684zM13.949 13.684a1 1 0 00-1.898 0l-.184.551a1 1 0 01-.632.633l-.551.183a1 1 0 000 1.898l.551.183a1 1 0 01.633.633l.183.551a1 1 0 001.898 0l.184-.551a1 1 0 01.632-.633l.551-.183a1 1 0 000-1.898l-.551-.184a1 1 0 01-.633-.632l-.183-.551z"
								></path>
							</svg>
							A Beautiful Building in Yerushalayim.
						</dt>
						<dd class="inline font-light"
							>A comfortable and spacious three floor building providing a great
							space for high quality learning and spiritual growth right in the
							heart of the majestic mountains of Har Nof.
						</dd>
					</div>
					<div class="relative pl-9">
						<dt class="inline font-semibold text-white">
							<svg
								class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true">
								<path
									d="M10 2a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 2zM10 15a.75.75 0 01.75.75v1.5a.75.75 0 01-1.5 0v-1.5A.75.75 0 0110 15zM10 7a3 3 0 100 6 3 3 0 000-6zM15.657 5.404a.75.75 0 10-1.06-1.06l-1.061 1.06a.75.75 0 001.06 1.06l1.06-1.06zM6.464 14.596a.75.75 0 10-1.06-1.06l-1.06 1.06a.75.75 0 001.06 1.06l1.06-1.06zM18 10a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 0118 10zM5 10a.75.75 0 01-.75.75h-1.5a.75.75 0 010-1.5h1.5A.75.75 0 015 10zM14.596 15.657a.75.75 0 001.06-1.06l-1.06-1.061a.75.75 0 10-1.06 1.06l1.06 1.06zM5.404 6.464a.75.75 0 001.06-1.06l-1.06-1.06a.75.75 0 10-1.061 1.06l1.06 1.06z"
								></path>
							</svg>
							Inspirational Trips to Kivrei Tzaddikim.
						</dt>
						<dd class="inline font-light"
							>Our Yeshiva utilizes every means available to experience
							sustained spiritual growth, lasting inspiration, and real
							camaraderie and brotherhood. Whether inside the Beis Medrash or
							out, we intend to experience holiness wherever genuine holiness is
							to be found.
						</dd>
					</div>
				</dl>
			</div>

			<!-- Twe Great Programs-->

			<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
				<div class="mx-auto max-w-4xl lg:mx-0">
					<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
						>Two Distinct Programs in Harmony</h2
					>
					<p class="mt-6 text-lg leading-8 text-gray-300"
						>Within this yeshiva, we offer two exceptional programs that cater
						to diverse needs and backgrounds, each enriching the other through
						shared experiences.</p
					>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full mt-16">
					<!-- Program A-->
					<div
						class="text-white rounded-3xl p-6 ring-1 ring-white/20 xl:p-10 w-full bg-white/10">
						<div class="flex items-center justify-between gap-x-4">
							<h2
								id="tier-freelancer"
								class="text-2xl lg:text-3xl font-semibold leading-8 text-white"
								>The Exploration Program</h2
							>
						</div>
						<!-- <p class="mt-4 text-lg font-light leading-12 text-gray-300">For Baalei Teshuvas</p> -->
						<div
							class="mt-4 space-y-3 text-md lg:text-xl font-light tracking-wide text-gray-200 xl:mt-10">
							<p
								>Featuring an equally unique and exciting schedule of daily
								hisbodedus, inspirational classes on Likutei Mohoran amongst
								other classic Chassidic sefarim, and the advanced tools for
								learning Talmud through which every bachur can explore his
								Jewish roots and build spiritual foundations for the rest of his
								adult life.
								<p> </p>

								<h2 class="font-semibold text-xl lg:text-2xl mt-12"
									>The Exploration Program Rabbeim
								</h2>
								<ul
									class="mt-4 space-y-6 text-xl font-light tracking-wide text-gray-200 xl:mt-10">
									<li class="flex">
										<img
											class="aspect-square w-20 h-20 rounded-2xl object-cover"
											src="kalmus.jpg"
											alt
										/>
										<div class="pl-4 flex flex-col justify-center">
											<h3
												class="text-2xl font-semibold leading-8 tracking-wide text-white"
												>R’ David Yisrael Kalmus</h3
											>
											<p class="text-base leading-7 text-gray-300"
												>Rosh Yeshiva, The Exploration Program</p
											>
										</div>
									</li>
									<li class="flex">
										<img
											class="aspect-square w-20 h-20 rounded-2xl object-cover"
											src="yochanan.jpg"
											alt
										/>
										<div class="pl-4 flex flex-col justify-center">
											<h3
												class="text-2xl font-semibold leading-8 tracking-wide text-white"
												>R’ Yochanan Glebocki</h3
											>
											<p class="text-base leading-7 text-gray-300"
												>Mashgiach, The Exploration Program</p
											>
										</div>
									</li>
									<li class="flex">
										<img
											class="aspect-square w-20 h-20 rounded-2xl object-cover"
											src="rothman.jpg"
											alt
										/>
										<div class="pl-4 flex flex-col justify-center">
											<h3
												class="text-2xl font-semibold leading-8 tracking-wide text-white"
												>R’ Ben Tzion Rothman</h3
											>
											<p class="text-base leading-7 text-gray-300"
												>Maggid Shiur, The Exploration Program</p
											>
										</div>
									</li>
								</ul>
								<h2 class="font-semibold text-xl lg:text-2xl mt-12"
									>The Exploration Program Daily Schedule
								</h2>

								<ul
									x-data="{ schedules: [
                { title: 'Morning Seder'},
                { time: '7:00AM', item: 'Shacharit' },
                { time: '8:00AM', item: 'Breakfast' },
                { time: '8:30AM - 9:30AM', item: 'Hitbodedut in Forest of Har Nof' },
                { time: '9:45AM', item: 'Mishnayos with R\u00B4 Bentzion Rothman' },
                { time: '10:00AM', item: 'Introductory Gemara Shiur with R\u00B4 Bentzion Rothman' },
                { time: '10:15AM - 11:45', item: 'Gemara Chavruta with R\u00B4 Yochanan Glebocki. R\u00B4 Bentzion Rothman checking in to address unique needs of each individual Chavruta pair and to help advance their personal skills and mastery in Gemara learning' },
                { time: '12:00 PM', item: 'Likutey Moharan with R\u00B4 David Yisrael Kalmus' },
                { time: '1:00 PM', item: 'Lunch Break' },
                 { title: 'Afternoon Seder'},
                { time: '2:00PM', item: 'Choose Your Own Learning Interest with R\u00B4 Yochanan Glebocki, R\u00B4 Bentzion Rothman, R\u00B4 Noam Elbaz, and other available Exploration Staff members. Additionally, on specific days of his choosing, Va\u00B4ad will be led by R\u00B4 Yochanan Glebocki' },
                { time: '3:00PM', item: 'Shulchan Aruch & Likutey Halachos with R\u00B4 David Yisrael Kalmus' },
                { time: '4:00PM', item: 'Living Breslov with esteemed Breslov Masphiam from around the Holy Land discussing essentials on how to live with Breslov Chassidus and Penimyius HaTorah within one\u00B4s personal life in a joyful, healthy, and prosperous way' },
                { time: '5:00PM', item: 'Break' },
                { time: '6:00PM', item: 'Dinner' },
                 { title: 'Night Seder'},
                { time: '8:00PM', item: 'Night Schedule' },
                ] 
              }"
									class="text-xs lg:text-sm mt-4 font-light tracking-wide text-gray-200 xl:mt-10 p-4 border border-white/50 rounded-2xl">
									<template x-for="schedule in schedules">
										<li
											class="grid grid-cols-6 lg:grid-cols-5 border-b border-white/50">
											<div
												x-text="schedule.title"
												:class="schedule.title ? 'text-2xl font-bold col-span-6 my-4' : 'hidden'"
											></div>
											<div
												x-text="schedule.time"
												:class="schedule.time ? 'py-2 font-bold col-span-2 lg:col-span-1 border-r border-white/50' : 'hidden'"
											></div>
											<div
												x-text="schedule.item"
												:class="schedule.item ? 'py-2 pl-2 col-span-4' : 'hidden'"
											></div>
										</li>
									</template>
									<div
										class="grid grid-cols-6 lg:grid-cols-5 border-b border-white/50">
										<div
											class="py-2 font-bold col-span-2 lg:col-span-1 border-r border-white/50"
											>Sunday & Tuesday Evening</div
										>
										<div class="py-2 pl-2 col-span-4"
											>Meshivas Nefesh with R’ Berel Simpser</div
										>
									</div>
									<div
										class="grid grid-cols-6 lg:grid-cols-5 border-b border-white/50">
										<div
											class="py-2 font-bold col-span-2 lg:col-span-1 border-r border-white/50"
											>Monday & Wednesday Evening</div
										>
										<div class="py-2 pl-2 col-span-4"
											>Sippurei Ma’asios with R’ Eliyahu Chaim Reiter</div
										>
									</div>
									<div
										class="grid grid-cols-6 lg:grid-cols-5 border-b border-white/50">
										<div
											class="py-2 font-bold col-span-2 lg:col-span-1 border-r border-white/50"
											>Thursday Evening</div
										>
										<div class="py-2 pl-2 col-span-4"
											>Breslov Kumzits, featuring inspiring Divrei Torah from R’
											David Yisrael Kalmus, joyous singing from R’ Shimi Fried,
											and uplifting musical instrumentation from R’ Moshe
											Levanter, R’ Eliyahu Chaim Reiter, and more!</div
										>
									</div>
								</ul>
							</p>

							<!-- Program B-->
							<div
								class="text-white rounded-3xl p-6 ring-1 ring-white/20 xl:p-10 w-full bg-white/10">
								<div class="bg-[url('living-bachur.png')] rounded-3xl w-full"
								></div>
								<div class="flex items-center justify-between gap-x-4">
									<h2
										id="tier-freelancer"
										class="text-2xl lg:text-3xl font-semibold leading-8 text-white"
										>The Living Torah Program</h2
									>
								</div>
								<!-- <p class="mt-4 text-lg font-light text-gray-300">For FFB Bachurim</p> -->
								<div
									class="mt-4 space-y-3 text-md lg:text-xl font-light tracking-wide text-gray-200 xl:mt-10">
									<p
										>The Living Torah Program is for bachurim between the ages
										of 18-24 from religious backgrounds. It has a unique
										schedule with a solid foundation of Gemara, a focus on
										Halacha, extraordinary shiurim on Breslov and penimiyus
										haTorah throughout the day, and time for hisbodedus in the
										afternoon.
									</p>

									<p class="mt-4">
										The Living Torah Program gives each bachur the opportunity
										to expand his knowledge and mastery of the Torah, as well as
										the spark of chassidus to live a truly inspired Jewish life.
									</p>
								</div>

								<h2 class="font-semibold text-xl lg:text-2xl mt-12"
									>The Living Torah Program Rabbeim
								</h2>
								<ul
									class="mt-4 space-y-6 text-xl font-light tracking-wide text-gray-200 xl:mt-10">
									<li class="flex">
										<img
											class="aspect-square w-20 h-20 rounded-2xl object-cover"
											src="simpser.jpg"
											alt
										/>
										<div class="pl-4 flex flex-col justify-center">
											<h3
												class="text-2xl font-semibold leading-8 tracking-wide text-white"
												>R' Berel Simpser</h3
											>
											<p class="text-base leading-7 text-gray-300"
												>Rosh Yeshiva, The Living Torah Program</p
											>
										</div>
									</li>
									<li class="flex">
										<img
											class="aspect-square w-20 h-20 rounded-2xl object-cover"
											src="mordechai.jpg"
											alt
										/>
										<div class="pl-4 flex flex-col justify-center">
											<h3
												class="text-2xl font-semibold leading-8 tracking-wide text-white"
												>R’ Mordechai Haberfeld</h3
											>
											<p class="text-base leading-7 text-gray-300"
												>Menahel Ruchani, The Living Torah Program</p
											>
										</div>
									</li>
									<li class="flex">
										<img
											class="aspect-square w-20 h-20 rounded-2xl object-cover"
											src="levanter.jpg"
											alt
										/>
										<div class="pl-4 flex flex-col justify-center">
											<h3
												class="text-2xl font-semibold leading-8 tracking-wide text-white"
												>R' Moshe Leventer</h3
											>
											<p class="text-base leading-7 text-gray-300"
												>Mashgiach, The Living Torah Program</p
											>
										</div>
									</li>
								</ul>
								<li class="flex">
									<img
										class="aspect-square w-20 h-20 rounded-2xl object-cover"
										src="shimshon.jpg"
										alt
									/>
									<div class="pl-4 flex flex-col justify-center">
										<h3
											class="text-2xl font-semibold leading-8 tracking-wide text-white"
											>R’ Shimon Fried</h3
										>
										<p class="text-base leading-7 text-gray-300"
											>Mashpia, The Living Torah Program</p
										>
									</div>
								</li>
							</div>
							<h2 class="font-semibold text-xl lg:text-2xl mt-12"
								>The Living Torah Daily Schedule
							</h2>

							<ul
								x-data="{ schedules: [
                { title: 'First Seder'},
                { time: '7:45AM', item: 'Shacharis' },
                { time: '8:45AM', item: 'Breakfast' },
                { time: '9:15AM', item: 'Shiur Chassidus' },
                { time: '9:45AM', item: 'Gemara B’iyun' },
                { time: '12:30PM', item: 'Shiur on Halachah Based on Orech HaShulchan' },
                { time: '1:00PM', item: 'Lunch Break (Served in the Dira)' },
                { title: 'Second Seder'},
                { time: '2:45PM', item: 'Trip to the Forest for Hisbodedus' },
                { time: '3:45PM', item: 'Minchah' },
                { time: '4:00PM', item: 'Likutei Halachos with Chavrusos' },
                { time: '4:30PM', item: 'Gemara Bekiyus (Amud Yomi of the 1st Seder Masechta)' },
                { time: '6:30PM', item: 'Shiur on Sichos HaRan' },
                { time: '7:00PM', item: 'Dinner Break (Food Served in the Dira)' },
                { title: 'Night Seder'},
                { time: '8:45M', item: 'Maariv' },
                { time: '9:00PM', item: 'Review of Gemara and Halacha with Mishnah Berurah' }
                ] 
              }"
								class="text-xs lg:text-sm mt-4 font-light tracking-wide text-gray-200 xl:mt-10 p-4 border border-white/50 rounded-2xl">
								<template x-for="schedule in schedules">
									<li
										class="grid grid-cols-6 lg:grid-cols-5 border-b border-white/50">
										<div
											x-text="schedule.title"
											:class="schedule.title ? 'text-2xl font-bold col-span-6 my-4' : 'hidden'"
										></div>
										<div
											x-text="schedule.time"
											:class="schedule.time ? 'py-2 font-bold col-span-2 lg:col-span-1 border-r border-white/50' : 'hidden'"
										></div>
										<div
											x-text="schedule.item"
											:class="schedule.item ? 'py-2 pl-2 col-span-4' : 'hidden'"
										></div>
									</li>
								</template>
							</ul>
						</div>
					</div>
				</div>

				<!-- A Note about two programs-->
				<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-16 lg:px-8">
					<div class="mx-auto max-w-4xl lg:mx-0">
						<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
							>Unity in Diversity</h2
						>

						<p class="mt-6 text-lg leading-8 text-gray-300"
							>The two programs operate independently in separate batei midrash,
							under the supervision of R’ Dovid Yisrael Kalmus as the Rosh
							HaMosdos. However, they come together for Thursday night events,
							Shabbosim, and special trips throughout the year. These shared
							experiences allow bachurim from each program to benefit from the
							unique strengths of the other: the frum bachurim gain from the
							baalei teshuvah’s renewed excitement for Judaism, while the baalei
							teshuvah are inspired by the knowledge and yiras Shamayim of the
							frum bachurim.</p
						>
						<p class="mt-4 text-lg leading-8 text-gray-300"
							>Together, these programs create a vibrant and dynamic yeshiva
							environment where every bachur can grow and thrive spiritually.</p
						>
						<p class="mt-4 text-lg leading-8 text-gray-300"
							>This is the true path of chassidus of the Baal Shem Tov, who
							explains that this is why we say “Elokeinu, v’Elokei avoseinu.” On
							the one hand, a person must be like a baal teshuvah and search for
							his own unique connection to Hashem (as aspect of “Elokeinu”),
							while at the same time, he must have a solid foundation of yiras
							Shamayim as passed down to him from previous generations (“Elokei
							avoseinu”).</p
						>
					</div>
				</div>

				<!-- Rav Kivak -->
				<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
					<div class="mt-12 max-w-4xl lg:mx-0">
						<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
							>Under the Guidance of Rabbi Nissan Dovid Kivak, Shlita</h2
						>
						<div class="flex-row md:flex mt-6">
							<img
								src="rav-kivak-trans.png"
								class="rounded-2xl aspect-square h-48 md:h-64 w-48 md:w-64 bg-slate-500"
							/>

							<p class="mt-8 md:mt-0 md:ml-8 md:text-lg leading-8 text-gray-200"
								>All of this is under the guidance of Rabbi Nissan Dovid Kivak,
								shlita, one of the great leaders of the Breslov community today.
								Rabbi Kivak has been moser nefesh to give countless shiurim over
								the past fifty years, establish several chedarim, yeshivos, and
								other institutions, and create tens of successful Breslov
								communities in Eretz Yisroel and abroad. He has also written
								many sefarim on the teachings of Rebbe Nachman. His influence
								and the influence of his talmidim has inspired countless people
								around the world. Thus, his involvement and direction of The
								Breslov Yeshiva is an invaluable asset that is the foundation
								for great success.
							</p>
						</div>
					</div>
				</div>
				<!-- Team section -->
				<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-16 lg:px-8">
					<div class="max-w-4xl lg:mx-0">
						<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
							>Our Dedicated Team of Rebbeim</h2
						>
						<p class="mt-6 text-lg leading-8 text-gray-300"
							>Our incredibly talented team of rebbeim have extensive experience
							guiding both bachurim who've grown up religious and ba'alei
							teshuva who are building a new path of Torah and mitzvos.</p
						>
					</div>

					<ul
						x-data="{rabbis: 
          [ {name: 'Rabbi Berel Simpser', role:'Rosh Yeshiva, The Living Torah Program', image:'simpser.jpg'},
            {name: 'Rabbi David Yisrael Kalmus', role:'Rosh Yeshiva, The Exploration Program', image:'kalmus.jpg'},
            {name: 'Rabbi Moshe Leventer', role:'Mashgiach, The Living Torah Program', image:'levanter.jpg'},
            {name: 'Rabbi Mordechai Haberfeld', role:'Menahel Ruchani, The Living Torah Program', image:'mordechai.jpg'},
            {name: 'Rabbi Yochanan Glebocki', role:'Mashgiach, The Exploration Program', image:'yochanan.jpg'},
            {name: 'Rabbi Shimon Fried', role:'Mashpia, The Living Torah Program', image:'shimshon.jpg'},
            {name: 'Rabbi Ben Tzion Rothman', role:'Maggid Shiur, The Exploration Program', image:'rothman.jpg'},
            ]
        }"
						class="mt-12 lg:mt-20 grid max-w-4xl grid-cols-1 gap-x-8 gap-y-6 lg:gap-y-14 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 xl:grid-cols-4">
						<template x-for="rabbi in rabbis">
							<li class="flex flex-row lg:flex-col">
								<img
									:src="rabbi.image"
									class="rounded-2xl aspect-square h-20 lg:h-32 w-20 lg:w-32"
								/>
								<div class="flex-col ml-4 lg:ml-0 my-auto lg:mt-4 items-center">
									<h3
										x-text="rabbi.name"
										class="text-lg font-semibold leading-8 tracking-tight text-white"
									></h3>
									<p
										x-text="rabbi.role"
										class="text-base leading-7 text-gray-300"></p>
								</div>
							</li>
						</template>
					</ul>
				</div>

				<!-- CTA section -->
				<div
					id="register"
					class="relative isolate mt-12 lg:mt-32 px-6 lg:px-32">
					<div class="mx-auto sm:px-6 lg:px-8">
						<div
							class="mx-auto flex flex-col bg-white/5 px-6 py-16 ring-1 ring-white/10 rounded-xl lg:rounded-2xl sm:p-8 lg:mx-0 lg:flex-row lg:items-center lg:py-20">
							<div class="w-full flex-col items-center">
								<h2
									class="text-3xl font-bold tracking-tight text-white sm:text-4xl text-center"
									>Register Now For This Year
								</h2>
								<p class="mt-6 text-lg leading-8 text-gray-300 text-center"
									>Join our incredible family of Talmidim and Rebbeim full of
									simcha and inspiration.</p
								>
								<div class="mt-10 flex">
									<!-- FORM GOES HERE-->

									<form
										action="https://formspree.io/f/meojeeyg"
										method="POST"
										class="z-50 max-w-3xl w-full lg:w-5xl mx-auto">
										<div class="mx-auto">
											<div
												class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
												<div>
													<label
														for="first-name"
														class="block text-sm font-semibold leading-6 text-white"
														>First name</label
													>
													<div class="mt-2.5">
														<input
															type="text"
															name="first-name"
															id="first-name"
															autocomplete="given-name"
															placeholder="First Name"
															class="block w-full rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
														/>
													</div>
												</div>
												<div>
													<label
														for="last-name"
														class="block text-sm font-semibold leading-6 text-white"
														>Last name</label
													>
													<div class="mt-2.5">
														<input
															type="text"
															name="last-name"
															id="last-name"
															autocomplete="family-name"
															placeholder="Last Name"
															class="block w-full rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
														/>
													</div>
												</div>
												<div class="sm:col-span-2">
													<label
														for="email"
														class="block text-sm font-semibold leading-6 text-white"
														>Email</label
													>
													<div class="mt-2.5">
														<input
															type="email"
															name="email"
															id="email"
															autocomplete="email"
															placeholder="Email"
															class="block w-full rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
														/>
													</div>
												</div>
												<div class="sm:col-span-2">
													<label
														for="phone-number"
														class="block text-sm font-semibold leading-6 text-white"
														>Phone number</label
													>
													<div class="mt-2.5">
														<input
															type="tel"
															name="phone-number"
															id="phone-number"
															autocomplete="tel"
															placeholder="Phone"
															class="block w-full rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
														/>
													</div>
												</div>
												<div class="sm:col-span-2">
													<label
														for="program"
														class="block text-sm font-semibold leading-6 text-white"
														>Program</label
													>
													<div class="mt-2.5">
														<select
															id="program"
															name="program"
															class="block w-full rounded-md border-0 bg-white/5 p-2.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black">
															<option>The Exploration Program</option>
															<option>The Living Torah Program</option>
															<option
																>Not sure which program is right for me</option
															>
														</select>
													</div>
												</div>
												<div class="sm:col-span-2">
													<label
														for="message"
														class="block text-sm font-semibold leading-6 text-white"
														>Message</label
													>
													<div class="mt-2.5">
														<textarea
															type="text"
															name="message"
															id="message"
															placeholder="Tell us a little bit about yourself..."
															rows="2"
															class="block w-full rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
														></textarea>
													</div>
												</div>
											</div>
											<div class="mt-8 flex justify-end">
												<button
													type="submit"
													class="w-full rounded-md bg-blue-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
													>Submit</button
												>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div
						class="absolute inset-x-0 -top-72 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
						aria-hidden="true">
						<div
							class="aspect-[1318/752] w-[82.375rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25"
							style="
                clip-path: polygon(
                  73.6% 51.7%,
                  91.7% 11.8%,
                  100% 46.4%,
                  97.4% 82.2%,
                  92.5% 84.9%,
                  75.7% 64%,
                  55.3% 47.5%,
                  46.5% 49.4%,
                  45% 62.9%,
                  50.3% 87.2%,
                  21.3% 64.1%,
                  0.1% 100%,
                  5.4% 51.1%,
                  21.4% 63.9%,
                  58.9% 0.2%,
                  73.6% 51.7%
                );
              "
						></div>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<footer class="relative mt-32 sm:mt-40" aria-labelledby="footer-heading">
				<h2 id="footer-heading" class="sr-only">Footer</h2>
				<div class="mx-auto max-w-7xl px-6 pb-8 lg:px-8">
					<div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
						<div class="flex w-full justify-between">
							<p class="text-xs leading-5 text-gray-400 text-center">
								&copy; 2024 The Breslov Yeshiva. All rights reserved.
							</p>
							<img
								class="h-10"
								src="logo-white.png"
								alt="The Breslov Yeshiva"
							/>
						</div>
					</div>
				</div>
			</footer>
		</main>
	</div>
</Layout>
