---

---

<footer class="relative mt-32 sm:mt-40" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 lg:px-8">
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <div class="flex w-full justify-between">
        <p class="text-xs leading-5 text-gray-400 text-center">
          &copy; 2024 The Breslov Yeshiva. All rights reserved.
        </p>
        <img class="h-10" src="logo-white.png" alt="The Breslov Yeshiva" />
      </div>
    </div>
  </div>
</footer>
